*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&text=ACEFGHIJMNOPRSTUVXY.%20'); 
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.item a{
  text-decoration: none;
}
.item a h3:hover{
  color: white;
}
.sec{
  height: 100vh;
  display: flex;
  align-items: center;
  background: hsl(0, 48%, 94%);


  font-family: 'Indie Flower', cursive;
}

.container{
  border: 8px solid black;
  height: 75%;
  width: 100%;
  display: grid;
  padding: 15px;
  background: #FF5733;
  border-radius: 30px;

  background-image: repeating-conic-gradient(#000000d2 30% 0%, transparent 80% 30%);
}

.tab .nav-tabs{
    margin: 0;
    border: none;
    display: flex;
}

.tab .nav-tabs li a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
     color: white;
}
.icon{
  width: 40px;
}

.tab .tab-content{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 20px;
}
.container h1{
          font-size:  clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
          font-family: 'Rubik Mono One', sans-serif;
}
.container h2{
  color: black;
}
.container h3{
  font-size:  60px;
}

.tab-content p{
  max-width: 500px;
  position: relative;
  left: 15rem;
  top: -150px;
  font-size: 40px;
  line-height: 3rem;
}

@media only screen and (max-width:1280px ) and (min-width:768px) {
  .tab-content p{
    max-width: 400px;
    position: relative;
    left: 15rem;
    top: -150px;
    font-size: 40px;
    line-height: 3rem;
  
  }
}
@media (min-width: 479px) and (max-width: 767px) {
  .tab-content p{
    max-width: 500px;
    position: relative;
    left: 0;
    top: 0;
    font-size: 18px;
    line-height: 1rem;
  
  }
}

@media only screen and (max-width: 479px){
  .container{
    height: 100%;
    border-radius: 0;
  }
  .container h1{
    font-size: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
    font-family: 'Rubik Mono One', sans-serif;
}
  .tab-content p{
    max-width: 340px;
    position: relative;
    left: 0;
    top: 0;
    font-size: 18px;
    line-height: 1rem;
  
  }

 
.container h3{
  font-size: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
}
}
//












































